
.top-banner {
       background-image: url(https://i.shgcdn.com/e2840afd-22a3-4f7c-be7e-8cb3d7bb7fb2/-/format/auto/-/preview/3000x3000/-/quality/lighter/);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 873px;
    background-position: center center;
}

.font-size{
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    font-weight:900;
    line-height: 1;
    font: bold;
}
