
.top-banner {
    background-image: url("../../../images/top-banner-background.webp") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 873px !important;
    background-position: center center !important;
}

.font-size{
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    font-weight:900;
    line-height: 1;
    font: bold;
}
